{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}PDF{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="padding: 10px">
  <form method="post" enctype="multipart/form-data" action="pdf">
    <label for="pdffile">pdf:</label>
    <input type="file" name="pdffile">
    <label for="datafile">data:</label>
    <input type="file" name="datafile">
    <br/>
    <input type="submit" value="Enviar">
  </form>
</div>
<div style="padding: 10px">
  <form method="post" enctype="multipart/form-data" action="docx">
    <label for="docxfile">docx:</label>
    <input type="file" name="docxfile">
    <label for="datafile">data:</label>
    <input type="file" name="datafile">
    <br/>
    <input type="submit" value="Enviar">
  </form>
</div>

<div style="padding: 10px">
  <form method="post" enctype="multipart/form-data" action="xls">
    <label for="xlsfile">xls:</label>
    <input type="file" name="xlsfile">
    <label for="datafile">data:</label>
    <input type="file" name="datafile">
    <br/>
    <input type="submit" value="Enviar">
  </form>
</div>

{% endblock %}